.footer {
  background: #2d2b2f;

  border-top: 1px solid #e5e5e5;
}

.footer-container {
  height: 96px;
  max-width: 1480px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-link {
  width: 36px;
  height: 36px;
}

.icon {
  width: 36px;
  height: 36px;
  fill: #e5e5e5;
}

.footer p {
  color: #e5e5e5;
  font-size: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
